
<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Ajouter un article</h4>
        <p class="card-category">Veuillez renseoigner les informations ici ...</p>
      </div>
      <div class="card-body">
        <form [formGroup]="formGroupCreate" (ngSubmit)="onCreateSubmit()">

          <div class="row mt-3">

            <div class="col-md-6">
              <div class="form-group"
                   [ngClass]="formGroupCreate.get('titre').errors && formSubmit ? 'has-danger':''">

                <label class="bmd-label-floating">Titre</label>
                <input type="text" class="form-control" formControlName="titre">

                <span *ngIf="formSubmit && formGroupCreate.get('titre').errors" class="text-danger">
                    <i class="material-icons form-control-feedback">clear</i>
                    <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_TITRE}}</small>
                  </span>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group"
                   [ngClass]="formGroupCreate.get('adresse').errors && formSubmit ? 'has-danger':''">

                <label class="bmd-label-floating">Adresse</label>
                <input type="text" class="form-control" formControlName="adresse">

                <span *ngIf="formSubmit && formGroupCreate.get('adresse').errors" class="text-danger">
                    <i class="material-icons form-control-feedback">clear</i>
                    <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_ADRESSE}}</small>
                  </span>

              </div>
            </div>

          </div>


          <div class="row mt-3">

            <div  [ngClass]="isVente ? 'col-md-4' : 'col-md-3'">

              <mat-form-field>
                <mat-label>Catégorie</mat-label>

                <mat-select formControlName="categorie">
                  <mat-option>&#45;&#45;</mat-option>
                  <mat-option *ngFor="let categorie of categories" [value]="categorie.name">
                    {{categorie.name}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="formGroupCreate.get('categorie').hasError('required') && formSubmit">
                  {{environnement.MESSAGE_REQUIRED_CATEGORIE}}
                </mat-error>
              </mat-form-field>

            </div>

            <div [ngClass]="isVente ? 'col-md-4' : 'col-md-3'">
              <div class="form-group"
                   [ngClass]="formGroupCreate.get('superficie').errors && formSubmit ? 'has-danger':''">

                <label class="bmd-label-floating">Superficie</label>
                <input type="number" class="form-control" formControlName="superficie">

                <span *ngIf="formSubmit && formGroupCreate.get('superficie').errors" class="text-danger">
                    <i class="material-icons form-control-feedback">clear</i>
                    <small class="form-text text-muted text-danger"></small>
                  </span>

              </div>
            </div>

            <div [ngClass]="isVente ? 'col-md-4' : 'col-md-3'">
              <div class="form-group"
                   [ngClass]="formGroupCreate.get('prix').errors && formSubmit ? 'has-danger':''">

                <label class="bmd-label-floating">Prix</label>
                <input type="number" class="form-control" formControlName="prix">

                <span *ngIf="formSubmit && formGroupCreate.get('prix').errors" class="text-danger">
                    <i class="material-icons form-control-feedback">clear</i>
                    <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_PRIX}}</small>
                  </span>

              </div>
            </div>

            <div *ngIf="!isVente" class="col-md-3">

              <mat-form-field>

                <mat-label>Type de paiement</mat-label>

                <mat-select formControlName="qualifier">
                  <mat-option value="/Mois">/Mois</mat-option>
                  <mat-option value="/An">/An</mat-option>
                </mat-select>

                <mat-error *ngIf="formGroupCreate.get('qualifier').hasError('required') && formSubmit">
                  {{environnement.MESSAGE_REQUIRED_CATEGORIE}}
                </mat-error>

              </mat-form-field>

            </div>

          </div>


          <div class="row mt-3" *ngIf="!(formGroupCreate.get('categorie').value == 'Parcelle')">

            <div class="col-md-6">
              <div class="form-group"
                   [ngClass]="formGroupCreate.get('nbChambre').errors && formSubmit ? 'has-danger':''">

                <label class="bmd-label-floating">Nombre de chambres</label>
                <input type="number" class="form-control" formControlName="nbChambre">

                <span *ngIf="formSubmit && formGroupCreate.get('nbChambre').errors" class="text-danger">
                    <i class="material-icons form-control-feedback">clear</i>
                    <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_FISRT_NAME}}</small>
                  </span>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group"
                   [ngClass]="formGroupCreate.get('nbDouche').errors && formSubmit ? 'has-danger':''">

                <label class="bmd-label-floating">Nombre de douches</label>
                <input type="number" class="form-control" formControlName="nbDouche">

                <span *ngIf="formSubmit && formGroupCreate.get('nbDouche').errors" class="text-danger">
                    <i class="material-icons form-control-feedback">clear</i>
                    <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_FISRT_NAME}}</small>
                  </span>

              </div>
            </div>

          </div>


          <div class="row mt-3">

            <div class="col-md-6">
              <mat-form-field [ngClass]="formGroupCreate.get('ville').errors && formSubmit ? 'has-danger':''">


                <mat-label>Ville</mat-label>

                <mat-select formControlName="ville" >
                  <mat-option>&#45;&#45;</mat-option>
                  <mat-option *ngFor="let ville of villeList " [value]="ville.id">
                    {{ville.libelle}}
                  </mat-option>
                </mat-select>

                <mat-error *ngIf="formGroupCreate.get('ville').hasError('required') && formSubmit">
                  {{environnement.MESSAGE_REQUIRED_VILLE}}
                </mat-error>

              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width"
                              [ngClass]="formGroupCreate.get('commune').errors && formSubmit ? 'has-danger':''">

                <mat-label>Commune</mat-label>

                <mat-select formControlName="commune" >
                  <mat-option>&#45;&#45;</mat-option>
                  <mat-option *ngFor="let commune of communes " [value]="commune.id">
                    {{commune.libelle}}
                  </mat-option>
                </mat-select>

              </mat-form-field>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-md-12">
              <div class="form-group"
                   [ngClass]="formGroupCreate.get('description').errors && formSubmit ? 'has-danger':''">

                <label class="bmd-label-floating">Description</label>
                <input type="text" class="form-control" formControlName="description">

                <span *ngIf="formSubmit && formGroupCreate.get('description').errors" class="text-danger">
                    <i class="material-icons form-control-feedback">clear</i>
                    <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_DESCRIPTION}}</small>
                  </span>

              </div>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-md-12">
              <div class="form-check form-check-radio form-check-inline">
                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" (change)="toggleVisibility($event)" checked> En vente
                      <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="mt-3 row">
            <div class="form-group col-md-12">
              <label for="exampleFormControlFile1">Choisir des images</label>
              <input type="file" class="form-control-file" (change)="fileChange($event)" multiple accept="image/*" id="exampleFormControlFile1">

              <span *ngIf="formSubmit && (fileList == null || fileList.length < 0)" class="text-danger">
                <i class="material-icons form-control-feedback">clear</i>
                <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_IMAGE}}</small>
              </span>

            </div>
          </div>


          <div class="table-responsive" *ngIf="imgURL">
            <table class="table table-shopping">
              <thead class="text-primary">
                <tr>
                  <th class="text-center"></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let image of imgURL">
                  <td>
                    <div class="img-container">
                      <img src="{{image.url}}" alt="...">
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <span>{{image.name}}</span><br>
                      <span>{{image.size}}</span>
                    </div>
                  </td>
                  <td class="text-right">
                    <button type="button" rel="tooltip" title="Supprimer" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Ajouter</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>


  </div>
</div>
