
<div class="main-content">
    <div class="container-fluid">

        <div class="d-flex align-itmes-center col-md-4 text-center">
            <div class="cover"></div>
            <div class="card login-box shadow">
                <div class="text-center">
                    <span class="auth-head-icon"><i class="la la-user"></i></span>
                </div>
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">LOGIN</h4>
                    <form class="form-pink" [formGroup]="formGroupLogin" (ngSubmit)="login()">

                        <div class="md-form mb-4" [ngClass]="formGroupLogin.get('username').errors && formSubmit ? 'has-danger':''">
                            <input type="text" class="md-form-control validate"  formControlName="username" required>
                            <label>Username</label>

                            <span *ngIf="formSubmit && formGroupLogin.get('username').errors" class="text-danger">
                                <i class="material-icons form-control-feedback">clear</i>
                                <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_USERNAME}}</small>
                            </span>
                        </div>

                        <div class="md-form" [ngClass]="formGroupLogin.get('password').errors && formSubmit ? 'has-danger':''">
                            <input type="password" class="md-form-control validate"  formControlName="password" required>
                            <label>Password</label>

                            <span *ngIf="formSubmit && formGroupLogin.get('password').errors" class="text-danger">
                                <i class="material-icons form-control-feedback">clear</i>
                                <small class="form-text text-muted text-danger">{{environnement.MESSAGE_REQUIRED_PASSWORD}}</small>
                            </span>
                        </div>

                        <div class="flexbox mb-5 mt-4">
                            <label class="ui-switch switch-icon">
                                <input type="checkbox" checked><span class="ml-0"></span>Remember me
                            </label>
                            <a href="javascript:;">Forgot password?</a>
                        </div>

                        <button type="submit" class="btn btn-primary btn-rounded btn-block">Connexion</button>

                    </form>
                </div>
            </div>
        </div>


      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

    </div>
</div>
